<template>
  <div>
    <NavLinks />
    <p>Call center number: 84.287.303.0098</p>
    <h1>I am agent {{this.$route.params.id}}</h1>
    

    <h3 v-if="haveCall">Incoming call ...</h3>

    <button @click="rejectCall" :disabled="!haveCall">Reject call</button>
    <button @click="acceptCall" :disabled="!haveCall">Pick up the phone</button>

    <video autoplay id="remoteVideo"></video>
    <video autoplay id="localVideo"></video>
  </div>
</template>

<script>
import { StringeeClient } from "../../public/static/js/ssdk";
import SEToken from './SEToken'
import NavLinks from './NavLinks'
export default {
  mounted() {
    this.client = new StringeeClient();

    this.remoteVideo = document.getElementById('remoteVideo');
    this.localVideo = document.getElementById('localVideo');

    
    if (this.$route.params.id == 2)
    {
      console.log('I am agent 2');
      this.connectWithToken(this.client, 'agent_0002', 'new_call_center');
    } else
    {
      this.connectWithToken(this.client, 'agent_0001', 'new_call_center');
    }
    this.settingClientEvents(this.client);
    
  },
  components: {
      NavLinks
  },
  mixins: [SEToken],

  data: function() {
    return {
      client: null,
      call: null,
      haveCall: false,
      remoteVideo: null,
      localVideo: null
    };
  },
  methods: {
    acceptCall() {
      if (
        typeof this.call !== "undefined" &&
        typeof this.call.answer === "function"
      ) {
        console.log("accepting call");
        this.call.answer();
      }
    },

    rejectCall() {
      
      if (typeof this.call !== "undefined") {
        this.haveCall = false;
        console.log("refuse call");
        this.call.reject();
      }
    },
    settingClientEvents(client) {
      let that = this;

      client.on("connect", function() {
        console.log("connected to StringeeServer");
      });

      client.on("authen", function(res) {
        console.log("authen: ", res);
      });

      client.on("disconnect", function() {
        console.log("disconnected");
      });

      client.on("incomingcall", function(incomingcall) {
        that.call = incomingcall;
        that.settingCallEvents(incomingcall);

        that.haveCall = true;
      });

      client.on("requestnewtoken", function() {
        console.log(
          "request new token; please get new access_token from YourServer and call client.connect(new_access_token)"
        );
        //please get new access_token from YourServer and call:
        //client.connect(new_access_token);
      });

      client.on("otherdeviceauthen", function(data) {
        console.log("otherdeviceauthen: ", data);
      });
    },

    settingCallEvents(call1) {
      let that = this;

      call1.on("addlocalstream", function(stream) {
          console.log('add local stream');
          // that.localVideo.srcObject = null;
          // that.localVideo.srcObject = stream; 
      });

      call1.on("addremotestream", function(stream) {
          console.log('add remote stream')
        // reset srcObject to work around minor bugs in Chrome and Edge.
        that.remoteVideo.srcObject = null;
        that.remoteVideo.srcObject = stream;
      });

      call1.on("signalingstate", function(state) {
        console.log("signalingstate ", state);

        if (state.code == 6) {
          // $('#incoming-call-div').hide();
            that.haveCall = false;
        }

        var reason = state.reason;
        // $('#callStatus').html(reason);
      });

      call1.on("mediastate", function(state) {
        console.log("mediastate ", state);
      });

      call1.on("info", function(info) {
        console.log("on info", info);
      });

      call1.on("otherdevice", function(data) {
          console.log("on otherdevice", data)

        if (
          (data.type === "CALL_STATE" && data.code >= 200) ||
          data.type === "CALL_END"
        ) {
          that.haveCall = false;
        }
      });
    }
  }
};
</script>