<template>
  <div id="app">
      <NavLinks />
      <h1>Calling From App to App</h1>
      <p><strong>How to:</strong> Open <router-link to="call-receiver">Call receiver</router-link> in a new browser and start the call</p>

      <div class="video-block">
        <h3>Local video</h3>
        <video id="localVideo" autoplay /> 
      </div>

      <div class="video-block">
        <h3>Remote video</h3>
        <video id="remoteVideo" autoplay /> 
      </div>
      <br />
      
      <button :disabled="isCalling" @click="startAudioCall">Audio Call</button>
      <button :disabled="isCalling"  @click="startVideoCall">Video Call</button>
      <button  :disabled="!isCalling" @click="hangUp">Hang Up</button>

  </div>
</template>

<style scoped>
  video {
    border: 1px solid #888;
    width: 400px;
    height: 220px;
  }

  .video-block {
    display: inline-block;
  }

  button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
</style>

<script>
import SEToken from './SEToken'
import NavLinks from './NavLinks'
import { StringeeCall, StringeeClient, StringeeUtil } from '../../public/static/js/ssdk.js';
import { type } from 'os';
export default {
    name: 'AppToApp',
    components: {
      NavLinks,
      SEToken
  },

  mixins: [SEToken],

  mounted() {
    console.log(this.getToken());

    this.localVideo = document.getElementById('localVideo');
    this.remoteVideo = document.getElementById('remoteVideo');
    this.client = new StringeeClient();
    console.log(StringeeUtil.isWebRTCSupported());
    
    this.connectWithToken(this.client, 'app_0001', 'pcc');
  },
  data() {
    return {
      isCalling: false,
      client: null,
      call: null,
      remoteVideo: null,
      localVideo: null
    }
  },
  methods: {
    settingCallEvent(call1)
        {
            let that = this;
            call1.on('addremotestream', stream => {
                console.log('add remote stream');
                if (that.isVideoCall)
                {
                  this.remoteVideo.srcObject = null;
                  this.remoteVideo.srcObject = stream;
                }
                
            });

            call1.on('addlocalstream', stream => {
                console.log('adding local stream');
                if (that.isVideoCall)
                {
                  this.localVideo.srcObject = null;
                  this.localVideo.srcObject = stream;
                }
                

            });

            call1.on('signalingstate', state => {
                console.log('signaling state');

                var reason = state.reason;
                console.log('signalling state reason', reason);
                if (reason === 'Disconnected' || reason === 'Ended' || reason === 'Busy here')
                {
                  this.isCalling = false;
                }
            });

            call1.on('mediastate', state => {
                console.log('media state', state);
                if (state.reason === 'Disconnected')
                {
                  this.isCalling = false;
                }
            });

            call1.on('info', info => {
                console.log('on info: ' , (info));
            });

        },

    startAudioCall() {
      console.log('start audio calling');
      this.isVideoCall = false;
      this.isCalling = true;
      this.call = new StringeeCall(this.client, 'app_0001', 'app_0002', this.isVideoCall);
      
      this.settingCallEvent(this.call);
      this.call.makeCall( res => {
         console.log('making a call', res);

      });

    },

    startVideoCall() {
      console.log('start video calling');
      this.isCalling = true;
      this.isVideoCall = true;
      this.call = new StringeeCall(this.client, 'app_0001', 'app_0002', this.isVideoCall);
      this.settingCallEvent(this.call);
      this.call.makeCall( res => {
         console.log('making a call', res);

      });
    },


    hangUp() {
      console.log('hanging up');
      this.isCalling = false;
      if (typeof(this.call !== 'undefined'))
        this.call.hangup();
        this.localVideo.srcObject = null;
        this.remoteVideo.srcObject = null;
        
    }

  }
}
</script>