<template>
  <div id="app">
      <NavLinks />
      <h1>Calling From App to Phone</h1>

    <NumberInput />
    <KeyPad  />
    <div>
        <button  :disabled="isCalling" @click="callNumber" class="call-button">Call</button>
        <button :disabled="!isInCall" @click="endCall" class="end-button">Hangup</button>
    </div>

    <video autoplay id="remoteVideo"></video>

  </div>
</template>
  
<style scoped>
  .call-button, .end-button {
    padding: 10px 15px;;
    margin-right: 7px;  
    cursor: pointer;
  }
</style>

<script>
import { StringeeCall, StringeeClient, StringeeUtil } from '../../public/static/js/ssdk.js';
import KeyPad from './KeyPad'
import SEToken from './SEToken'
import NumberInput from './NumberInput'
import NavLinks from './NavLinks'
import { type } from 'os';


export default {
    name: 'AppToPhone',
    components: {
    KeyPad,
    NumberInput,
    NavLinks
  },
  mixins: [SEToken],
  mounted() {
 
            this.remoteVideo = document.getElementById('remoteVideo');
            this.client = new StringeeClient();
            console.log(StringeeUtil.isWebRTCSupported());

            this.connectWithToken(this.client, 'common_key', 'pcc');
            this.client.on('otherdeviceauthen', (data) => {
              console.log('other device authen', data);
            });

            
            
    },

    data() {
      return {
        remoteVideo: null,
        call: null,
        isCalling: false,
        isInCall: false
      }
    },
    methods: {
        settingCallEvent(call1)
        {
          let that = this;
            call1.on('addremotestream', stream => {
                console.log('add remote stream');
                this.remoteVideo.srcObject = null;
                this.remoteVideo.srcObject = stream;
            });

            call1.on('addlocalstream', stream => {
                // localVideo.srcObject = null;
                // localVideo.srcObject = stream;

            });

            call1.on('signalingstate', state => {
                console.log('signaling state', state);
                if (state.code === 3)
                {
                  that.isInCall = true;
                } else
                {
                  that.isInCall = false;
                }
            });

            call1.on('mediastate', state => {
                console.log('media state', state);

            });

            call1.on('info', info => {
                console.log('on info: ' + JSON.stringify(info));
            });

        },
        callNumber() {
            // console.log(typeof StringeeCall);
            // console.log('calling a number');
            var number = this.$store.state.numberToCall;

            console.log('number is: ', number);

            this.call = new StringeeCall(this.client,"842473030633", number, false);
            this.settingCallEvent(this.call);
            this.call.makeCall( res => console.log('making call', res));
            this.call.on('')
            this.isCalling = true;

        },
        endCall() {
            if (typeof this.call !== 'undefined')
            {
              console.log('end call');
              this.call.hangup();
            }
        }
    
    }
}
</script>