<template>
    <div>
        <NavLinks />
        <h1>Call receiver</h1>

        <div class="video-block">
        <h3>Local video</h3>
        <video id="localVideo" autoplay /> 
      </div>

      <div class="video-block">
        <h3>Remote video</h3>
        <video id="remoteVideo" autoplay /> 
      </div>
      <br />

      <button  :disabled="!isCalling" @click="hangUp">Hang Up</button>
    </div>
</template>


<style scoped>
  video {
    border: 1px solid #888;
    width: 400px;
    max-width: 100%;
    height: 220px;
  }

  .video-block {
    display: inline-block;
  }

  button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
</style>


<script>
import NavLinks from './NavLinks'
import SEToken from './SEToken'
import { StringeeCall, StringeeClient, StringeeUtil } from '../../public/static/js/ssdk.js';
export default {
    
    mixins: [SEToken],
    name: 'CallReceiver',
    components: {
        NavLinks
    },
    data: function(){
        return {
            isCalling: false,
            client: null,
            call: null,
            localVideo: null,
            remoteVideo: null
        }
    },

    mounted() {
        let that = this;
        
        this.localVideo = document.getElementById('localVideo');
        this.remoteVideo = document.getElementById('remoteVideo');
        console.log('store key2 ', this.$store.state.app_0002);
        this.client = new StringeeClient();
        
        this.connectWithToken(this.client, 'app_0002', 'pcc');
        
        this.client.on('incomingcall', call => {
            that.call = call;
            this.settingCallEvent(call);

            var acceptCall = confirm("Incoming call! Pickup the phone?");

            if (acceptCall)
            {
                this.isCalling = true;
                call.answer();
            } else
            {
                call.reject();
            }

        });

    },
    methods: {
        settingCallEvent(call1)
        {
            let that = this;
            call1.on('addremotestream', stream => {
                console.log('add remote stream');
                this.remoteVideo.srcObject = null;
                this.remoteVideo.srcObject = stream;
            });

            call1.on('addlocalstream', stream => {
                console.log('adding local stream');
                this.localVideo.srcObject = null;
                this.localVideo.srcObject = stream;

            });

            call1.on('signalingstate', state => {
                console.log('signaling state');
                var reason = state.reason;

                console.log(reason);
                if (reason === 'Ended' || reason === 'Disconnnected')
                {
                    that.isCalling = false;
                }
            });

            call1.on('mediastate', state => {
                console.log('media state', state);
                if (state.reason === 'Disconnected')
                {
                  that.isCalling = false;
                }
            });

            call1.on('info', info => {
                console.log('on info: ' , (info));
            });

        },
        hangUp() {
            if (typeof this.call !== 'undefined')
            {
                this.call.hangup();
                this.localVideo.srcObject = null;
                this.remoteVideo.srcObject = null;
            }

        }
    }

    
}
</script>