<template>
    <div>
        <NavLinks />
        <h1>Stringee Call Demo</h1>
    </div>
</template>

<script>
import NavLinks from './NavLinks'
export default {
    name: 'Home',
    components: {
        NavLinks
    }
}
</script>