<template>
    <table>
        <tr>
            <td>
                <SingleNumber label="1" />
            </td>

            <td>
                <SingleNumber label="2" />
            </td>

            <td>
                <SingleNumber label="3" />
            </td>
        </tr>

        <tr>
            
            <td>
                <SingleNumber label="4" />
            </td>

            <td>
                <SingleNumber label="5" />
            </td>

            <td>
                <SingleNumber label="6" />
            </td>
        </tr>


        <tr>
            <td>
                <SingleNumber label="7" />
            </td>

            <td>
                <SingleNumber label="8" />
            </td>

            <td>
                <SingleNumber label="9" />
            </td>
        </tr>

        <tr>
            <td>
                <SingleNumber label="*" />
            </td>

            <td>
                <SingleNumber label="0" />
            </td>

            <td>
                <SingleNumber label="#" />
            </td>
        </tr>
    </table>
</template>

<script>
import SingleNumber from './SingleNumber'
export default {
    name: 'KeyPad',

    components: {
        SingleNumber
    }

    
    
}
</script>