<template>
<div>
    <ul>
        <li><router-link to="/">Home</router-link></li>
        <li><router-link to="/call-app-to-app">Call App to App</router-link></li>
        <li><router-link to="/get-call-from-phone-to-app">Get Call From Phone to App</router-link></li>
        <li><router-link to="/call-app-to-phone">Call App to Phone</router-link></li>
        <li><router-link to="/call-receiver">Call Receiver</router-link></li>
        <hr />
        <li><router-link to="/agent/1">Agent 1</router-link></li>
        <li><router-link to="/agent/2">Agent 2</router-link></li>
        
        
    </ul>
    
</div>
</template>

<script>
export default {
    name: 'NavLinks'
}
</script>