<template>
    <div class="input-group">
        <p><em>Enter a number to call</em></p>
        <div>
            <span id="number-to-call">{{numberToCall}}</span>
            <button id="remove-last-char-button" v-on:click="removeLastChar">⌫</button>
        </div>
    </div>
</template>


<style scoped>
    #remove-last-char-button {

        display: inline-block;
        width: 20px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        border: 0;
        padding: 0;
        cursor: pointer;
        background: transparent;
    }
    #number-to-call {
        margin : 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 40px;
        padding: 5px 10px;
        box-sizing: border-box;
        height: 40px;
        border: 1px solid #888;
        width: 150px;
        display: inline-block;
    }
    .input-group {
        text-align: left;

    }
    button, input {
        display: inline-block;
        text-align: left;
    }
</style>
<script>
import { mapState } from 'vuex'
export default {
    name: 'NumberInput',
    computed: mapState({
        numberToCall: state => state.numberToCall
    }),
    methods: {
        removeLastChar() {
            this.$store.commit('removeLastChar');
        }
    }
    
}
</script>