<template>
  <div id="app">
      <NavLinks />

      <p>Call this number: 842.473.030.633</p>
      <h1>Getting call from Phone</h1>

    <div>
        <button :disabled="!isInCall" @click="hangUp" class="end-button">Hangup!</button>
    </div>

    <video autoplay id="remoteVideo"></video>

  </div>
</template>
  
<style scoped>
  .call-button, .end-button {
    padding: 10px 15px;;
    margin-right: 7px;  
    cursor: pointer;
  }
</style>

<script>
import { StringeeCall, StringeeClient, StringeeUtil } from '../../public/static/js/ssdk.js';

import SEToken from './SEToken'

import NavLinks from './NavLinks'


export default {
    name: 'AppToPhone',
    components: {
    NavLinks
  },
  mixins: [SEToken],
  mounted() {
 
            let that = this;
            this.remoteVideo = document.getElementById('remoteVideo');
            this.client = new StringeeClient();
            console.log(StringeeUtil.isWebRTCSupported());

            this.connectWithToken(this.client, 'app_receiver', 'pcc');

            this.client.on('incomingcall', call => {
            that.call = call;
            this.settingCallEvent(call);

            var acceptCall = confirm("Incoming call! Pickup the phone?");

            if (acceptCall)
            {
                this.isCalling = true;
                call.answer();
            } else
            {
                call.reject();
            }

        });

    },

    data() {
      return {
        remoteVideo: null,
        call: null,
        isCalling: false,
        isInCall: false
      }
    },
    methods: {
        settingCallEvent(call1)
        {
          let that = this;
            call1.on('addremotestream', stream => {
                console.log('add remote stream');
                this.remoteVideo.srcObject = null;
                this.remoteVideo.srcObject = stream;
            });

            call1.on('addlocalstream', stream => {
                // localVideo.srcObject = null;
                // localVideo.srcObject = stream;

            });

            call1.on('signalingstate', state => {
                console.log('signaling state', state);
                if (state.code === 3)
                {
                  that.isInCall = true;
                } else
                {
                  that.isInCall = false;
                }
            });

            call1.on('mediastate', state => {

                console.log('media state', state);
                if (state.reason === "Connected")
                {
                  that.isInCall = true;
                } else
                {
                  that.isInCall = false;
                }

            });

            call1.on('info', info => {
                console.log('on info: ' + JSON.stringify(info));
            });

        },
        callNumber() {
            // console.log(typeof StringeeCall);
            // console.log('calling a number');
            var number = this.$store.state.numberToCall;

            console.log('number is: ', number);

            this.call = new StringeeCall(this.client,"842473030633", number, false);
            this.settingCallEvent(this.call);
            this.call.makeCall( res => console.log('making call', res));
            this.call.on('')
            this.isCalling = true;

        },
        hangUp() {
            if (typeof this.call !== 'undefined')
            {
              console.log('end call');
              this.call.hangup();
              this.isInCall = false;
            }
        }
    
    }
}
</script>