<template>
    
</template>

<script>
export default {
    name: 'SEToken',
    data() {
        return {
            'token_url' : 'https://demo.binarycarpenter.com/st/token.php'
        }
    },
    methods: {
        connectWithToken(client, username, project = 'pcc') {

            client.on('connect', () => console.log('connected'));
            client.on('disconnect', () => console.log('disconnected'));
            client.on('authen', (res) => {
                if (res.message !== "SUCCESS")
                {
                    this.renewToken(username, project, client);
                //get the token again
                } else
                {
                    console.log('successfully connect using token', res);
                }
            });


            let token = this.getToken(username, project);
            if (token == null)
            {
                console.log('TOKEN IS NULL');
                this.renewToken(username, project, client);
            } else
            {
                console.log('TOKEN IS NOT NULL', token);
                this.client.connect(token);
            }

        },
        getToken(username, project) {
            if (typeof username === "undefined")
            {
                console.log('cannot get token for undefined username');
                return null;
            }

            if (typeof(this.$store.state[username].key) === 'undefined' || this.$store.state[username].key != '')
            {
                console.log(' token is not nulll000');
                return this.$store.state[username].key;
            }

            console.log('I do not now what token is', this.$store.state[username].key);
            return null;
        },

        renewToken(username, project, client) {
            let that = this;
            let full_token_url = this.token_url + '?user_id=' + username + '&project=' + project;

            console.log('full token url: ', full_token_url);
            
            fetch(full_token_url, {
                method: 'GET'
            }).then( (result) => {
                return result.json();
            }).then( jsData => {
                console.log('js data is ', jsData);
                console.log('token is from js data : ', jsData.access_token, ' for key: ', username)
                //update the key
                that.$store.commit(username, jsData.access_token);
                client.connect(jsData.access_token);
            } )

        }
        
    }
}
</script>