<template>
    <button class="phone-button" v-on:click="addToString">{{label}}</button>
</template>


<style scoped>
    .phone-button {
        cursor: pointer;
        font-size: 18px;
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
</style>

<script>
export default {
    name: 'SingleNumber',
    props: {label: String}, 
    methods: {
        addToString() { 
            this.$store.commit('addChar', this.label);
        }
    }
}
</script>