<template>
  <div id="app">
    <router-link to="/call-app-to-phone">Call App to Phone</router-link>
    <router-link to="/call-app-to-app">Call App to App</router-link>
    <router-view/>
  </div>
</template>

<script>


export default {
  name: 'app',
}
</script>
